body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    margin-bottom: 5px;
    font-size: 28px;
    letter-spacing: 1px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

.note {
    color: #150aed;
    font-size: 14px;
}

.table-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

table {
    width: 90%;
    max-width: 900px;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #67a6da;
    color: rgb(0, 255, 234);
    padding: 12px;
    text-align: left;
    font-size: 15px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #00e1ff;
}

tr:hover {
    background-color: #74e6ec;
}

a {
    text-decoration: none;
    color: #150aed;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 25px;
    background-color: #111;
    color: white;
    margin-top: 40px;
    font-size: 14px;
}
